//style for the profile pic
.media-edit-image  {
  padding-left: 45.5%;
}

.media-edit-content {
  text-align: center;
  padding-top: 3%;
  display: flex;
  display:table;
  height:100%;
  margin:0 auto;
}
.field {
  width: 500px;
}
