
.recipe-show {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  font-family: $font-primary;
  margin:0 auto;
}

// comment box
.field {
  padding: 0px;
}

.comment-field {
  margin-bottom: 20px;
}

.favourite-button {
  background-color: $tertiary;
}

.buttons {
  margin-top: 15px;
}

.instructions {
  margin-bottom: 50px;
}


@media only screen and (max-width: 769px){
.recipe-show {
    min-width: 600px;
  }
}
