<section class="homepage">
  <div class="hero-image">
    <div class="image-gallery">
      <ul>
        <li id="one">
          <img src="https://images.pexels.com/photos/299348/pexels-photo-299348.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
        </li>
        <li id="two">
          <img src="https://images.pexels.com/photos/842545/pexels-photo-842545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
        </li>
        <li id="three">
          <img src="https://images.pexels.com/photos/1126359/pexels-photo-1126359.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
        </li>
        <li id="four">
          <img src="http://www.vactualpapers.com/web/wallpapers/a-sponge-cream-cake-with-cherry-4k-food-wallpaper/1920x1200.jpg">
        </li>
      </ul>
    </div>
  </div>

  <div class="container hero-overlay">
    <p class="hero-title">What's in my fridge?</p>
    <p class="hero-subtitle">Reduce your food wastage and make something wonderful today!</p>
  </div>
</section>
